<!DOCTYPE html>
<html ng-app='lotoApp'>
<head>
	<title>Loto Aplication</title>
	<link rel="stylesheet" type="text/css" href="libraries/bootstrap-3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="libraries/font-awesome-4.7.0/css/font-awesome.min.css">
	<script type="text/javascript" src="libraries/angular.min.js"></script>
	<script type="text/javascript" src="app/models/tables-model.js"></script>
	<script type="text/javascript" src="app/app.js"></script>
	<script type="text/javascript" src="app/controllers/tables-ctrl.js"></script>

</head>
<body>
<div ng-app="lotoApp" class="container" ng-controller='tablesCtrl'>
	<table class="table table-responsive table-hover">
		<thead>
		<tr>
			<th>#</th>
			<th>Table name</th>
			<th>Users</th>
			<th>Is private</th>
			<th>Status</th>
			<th>Start</th>
			<th>Clos</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="game in model" ng-switch="game.status">
			<td>{{$index + 1}}</td>
			<td>{{game.table_name}}</td>
			<td>{{game.users_list.length}} of {{game.max_user_count}}</td>
			<td  ng-if="myPlay">  <i class="fa fa-lock" style="font-size:30px;color:red"></i>    </td>
			<td  ng-if="!myPlay">  <i class="fa fa-unlock" style="font-size:30px;color:green"></i>   </td>

			<td ng-switch-when="waiting"  class="text-warning">{{game.status}}</td>
			<td ng-switch-when="started"  class="text-danger"> {{game.status}}</td>
			<td ng-switch-when="finished" class="text-success">{{game.status}}</td>

			<td><input type="checkbox" ng-model="myPlay"/><button ng-disabled="myPlay" class="btn btn-success">Start</button></td>
			<td><button  class="btn btn-success" ng-click="removeTab()">Close</button></td>
		</tr>
		</tbody>
	</table>

	<label>Name</label> <input  type="text" ng-model="name">

	<label>max:</label> <input  type="number"  ng-model="max">
	<button class="btn btn-success" ng-click="addGames(name,max)">ADD</button>

</div>
</body>
</html>